{{!--Worksheet 2    28/1/21}} --}}
{{!-- this is standard HTML template. The HTML on this page will be used for all
of the other handlebars files. They will 'inject' their HTML into the part 
of the tamplate with {{body}} --}}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="title" content="Foil arms and Hog">
    <meta name="description" content="Foil arms and Hog bootstrap site.">
    <meta name="author" content="Andrew Jackson">
    <title>Home - Foil Arms and Hog</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="css/custom.css">

        <!-- External style sheet-->
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">

        
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
    <!-- Bootstrap core CSS -->
  <!--<link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/custom.css" rel="stylesheet">-->    

  


</head>
 
    <header>
        
        <body class="bg-dark">
  <header>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="navbar-brand" href="/"><img src="/images/murphy.jpg" width="50px" alt="A lovely logo"></a>
            <a class="nav-item nav-link active" href="/">Home<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/about">About us</a>
            <a class="nav-item nav-link" href="/contact">Contact us</a>
            <a class="nav-item nav-link" href="/personlist">personlist</a>
    
      
          </div>
        </div>
        {{!-- <div class="btn-group">
          <button type="button" class="btn btn-primary"  id="loginlogout" href="#">Login</button>
          <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" id="dropdownMenuReference" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
            <a class="dropdown-item" href="userdetails.html">User Details</a>
      
          </div>
          </div>
            
          <div class="btn-toolbar">
              <a class="nav-item nav-link" href="checkout.html">
              <button type="button" class="btn btn-secondary ml-2">
                Checkout <span class="badge badge-light" id="checkout"></span>
              </button>
              </a>
          </div>  --}}
      </nav> 
    </div>
   </header>
 
<body>
    {{{body}}}
    
</body>

</html>
