{{!-- Worksheet 4   03/02/2021--}}

{{!-- Task 4--}}
<ul>
  {{#each personlist}}
    <li>{{this.name}}</li>
  {{/each}}
</ul>

{{!-- Worksheet 5a   09/02/2021--}}
<a href=/{{this.name}}>
      {{this.name}}</a></li>

{{!-- Task 4 part 2--}}
<ul>
  {{#each personlist}}
    <li>{{this.name}}</li>
  {{/each}}
</ul>

<a href="/personlist/addnew">Add New Person</a>